* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body,
.main {
  width: 100%;
  height: 100%;
}
a {
  text-decoration: none;
  color: inherit;
}
.main {
  background: #f1ecf2;
  font-family: "微软雅黑";
}
.register_box {
  width: 357px;
  margin: 0 auto;
  background: #fdfdfe;
  position: relative;
  padding: 48px;
  top: 50%;
  transform: translateY(-50%);
}
.logo {
  width: 150px;
}
.register_txt {
  width: 260px;
  height: 55px;
  margin-top: 20px;
}
.register_txt p {
  font-weight: normal;
  margin: 5px 0;
}
.register_con input {
  width: 260px;
  height: 55px;
  padding-left: 40px;
  outline: none;
  margin-top: 25px;
  border: 1px solid #d2d2d2;
}
.register_con input:focus {
  border-color: #80bdff;
}
.register_con .register_check {
  margin: 25px 0;
  height: 18px;
  line-height: 18px;
}
.register_con .register_check span {
  float: left;
  display: inline-block;
  margin-right: 10px;
  color: #adadad;
}
.register_con .register_check .checkBox {
  width: 18px;
  height: 18px;
  text-align: center;
  line-height: 18px;
  font-size: 14px;
  font-weight: bold;
  border: 2px #b56dfe solid;
  border-radius: 4px;
  cursor: pointer;
  color: #fff;
}
.register_con .register_check .active {
  background: linear-gradient(90deg, #d386fe, #9a56fe);
}
.register_con button {
  width: 260px;
  height: 55px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  outline: none;
  color: #fff;
  font-size: 16px;
  background: linear-gradient(90deg, #d386fe, #9a56fe);
  border-radius: 5px;
}
.login {
  color: #333;
  margin-top: 20px;
}
.login a {
  color: #ce82fe;
}
